@model LoginWebsite.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveUser</title>
</head>
<body>
    <div>
        <div class="remove-div">
            @using (Html.BeginForm("RemoveUser", "Home", FormMethod.Post))
            {
                <h3>Username :@Session["userName"]</h3>
                <h3>User ID: @Session["userID"]</h3>
                @*<table>
                <tr>
                    @Html.DisplayNameFor(model => model.UserID)
                    @Html.DisplayFor(model => model.UserID)
                </tr>
                <tr>
                    @Html.DisplayNameFor(model => model.UserName)
                    @Html.DisplayFor(model => model.UserName)
                </tr>
            </table>*@
                @Html.ValidationMessageFor(model => model.RemoveErrorMessage)
                @Html.HiddenFor(model => model.UserName)
                @Html.Hidden("UserID", (object)ViewBag.UserID)
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to home", "Index")

                </div>
            }
        </div>
    </div>
</body>
</html>
